[Unit]
Description=Google OSConfig Agent
After=local-fs.target network-online.target
Wants=local-fs.target network-online.target

[Service]
ExecStart=/usr/bin/google_osconfig_agent
Restart=always
RestartSec=1
StartLimitInterval=120
StartLimitBurst=3
KillMode=mixed
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target